html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


#logo {
  float: left;
  /*height: 37px;*/
  padding: 4px 10px;
}

.content {
  padding: 40px;
}

#footer {
  position: relative;
  float: none;
  text-align: center;
  margin: auto;
  color: #999;
  padding: 10px;
}

#footer .content {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}