html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


#logo {
  float: left;
  /*height: 37px;*/
  padding: 4px 10px;
}

.content {
  padding: 40px;
}

#footer {
  position: relative;
  float: none;
  text-align: center;
  margin: auto;
  color: #999;
  padding: 10px;
}

#footer .content {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

#home_slides {
  min-height: 600px;
  margin-left: 50px;
  margin-right: 50px;
}

.carousel-control-prev {
  color: #1c2a48;
  font-size: 30px;
  margin-left: -100px;
}

.carousel-control-prev:hover {
  color: #0b51c5;
}

.carousel-control-next {
  color: #1c2a48;
  font-size: 30px;
  margin-right: -100px;
}

.carousel-control-next:hover {
  color: #0b51c5;
}